nodered/incubatorFlow
[{"id":"563ac19b.b6661","type":"serial in","z":"3dcb002.bedb7","name":"Arduino Uno","serial":"7633443d.32852c","x":89,"y":268,"wires":[["2b93654e.6bfdba","b02824c.f0365d8","b2b421ce.6956a"]]},{"id":"b2b421ce.6956a","type":"function","z":"3dcb002.bedb7","name":"Format Data for MongoDB","func":"msg.payload = msg.payload.trim();//remove newline\nvar values = msg.payload.split(\",\");//break comma-seperated sensor values into an array\nvar sensorObject={};//create json object\nsensorObject[\"temperature\"]=values[0];//array element 1 becomes object member 1\nsensorObject[\"water-level\"]=values[1];//array element 2 becomes object member 2\nsensorObject[\"ph\"]=values[2];//array element 3 becomes object member 3\nsensorObject[\"EC\"]=values[3];\nsensorObject[\"ArduinoID\"]=values[4];\nsensorObject[\"DateTime\"]=new Date().toISOString();\nmsg.payload=sensorObject;//return json object as payload\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":100,"wires":[["64d372f.d9dae8c"]]},{"id":"64d372f.d9dae8c","type":"mongodb out","z":"3dcb002.bedb7","service":"_ext_","mongodb":"1e0479cf.82c366","name":"","collection":"NewReadings","payonly":false,"upsert":false,"multi":false,"operation":"store","x":960,"y":73.5,"wires":[]},{"id":"bf643d9d.beef9","type":"function","z":"3dcb002.bedb7","name":"Check Temperature ","func":"if (global.get(\"abnormal_temp\")!==0){\n    msg.topic=\"Abnormal Temperature\";\n    msg.payload=\"We have observed an abonormal Temperature of \"+ global.get(\"abnormal_temp\");\n    return msg;\n}","outputs":1,"noerr":0,"x":606,"y":413,"wires":[[]]},{"id":"6318cfee.01252","type":"inject","z":"3dcb002.bedb7","name":"Error Emails","topic":"Timer","payload":"null","payloadType":"str","repeat":"60","crontab":"","once":false,"onceDelay":"","x":400,"y":500,"wires":[["bf643d9d.beef9"]]},{"id":"2b93654e.6bfdba","type":"function","z":"3dcb002.bedb7","name":"Temperature","func":"msg.payload = msg.payload.trim();//remove newline\nvar values = msg.payload.split(\",\");//break comma-seperated sensor values into an array\nmsg.payload= values[0];\nif(values[0]>40){\n    global.set(\"abnormal_temp\",values[0]);\n}\nelse{\n    global.set(\"abnormal_temp\",0);\n}\nreturn msg","outputs":"1","noerr":0,"x":310,"y":360,"wires":[["1c0d44f1.3cc70b"]]},{"id":"b02824c.f0365d8","type":"function","z":"3dcb002.bedb7","name":"Humidity","func":"msg.payload = msg.payload.trim();//remove newline\nvar values = msg.payload.split(\",\");//break comma-seperated sensor values into an array\nmsg.payload= values[1];\nif(values[1]>50){\n    global.set(\"abnormal_humi\",values[0]);\n}\nelse{\n    global.set(\"abnormal_humi\",0);\n}\nreturn msg","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["85643802.b01858"]]},{"id":"85643802.b01858","type":"ui_gauge","z":"3dcb002.bedb7","name":"","group":"766355e6.dd463c","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"% ","format":"{{value}}","min":0,"max":"100","colors":["#b50005","#00e60c","#b50005"],"seg1":"35","seg2":"50","x":580,"y":240,"wires":[]},{"id":"1c0d44f1.3cc70b","type":"ui_gauge","z":"3dcb002.bedb7","name":"","group":"5608459b.edc4ac","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"Degrees Celcius","format":"{{value}}","min":0,"max":"100","colors":["#b50005","#00e605","#b50005"],"seg1":"20","seg2":"40","x":580,"y":360,"wires":[]},{"id":"7f4f897e.fc9468","type":"debug","z":"3dcb002.bedb7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":220,"wires":[]},{"id":"7633443d.32852c","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":""},{"id":"1e0479cf.82c366","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"aquadb","name":""},{"id":"766355e6.dd463c","type":"ui_group","z":"","name":"Humidity","tab":"23894a48.8f2e06","disp":true,"width":"6","collapse":false},{"id":"5608459b.edc4ac","type":"ui_group","z":"","name":"Temperature","tab":"23894a48.8f2e06","order":2,"disp":true,"width":"6","collapse":false},{"id":"23894a48.8f2e06","type":"ui_tab","z":"","name":"Egg Incubator Readings","icon":"dashboard","disabled":false,"hidden":false}]
